!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FinanceRails
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %link{href: "assets_files/img/favicon.png", rel: "icon"}/
    %link{href: "assets_files/img/apple-touch-icon.png", rel: "apple-touch-icon"}/
    / Google Fonts
    %link{href: "https://fonts.gstatic.com", rel: "preconnect"}/
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i", rel: "stylesheet"}/
    / Vendor CSS Files
    %link{href: "assets_files/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "assets_files/vendor/bootstrap-icons/bootstrap-icons.css", rel: "stylesheet"}/
    %link{href: "assets_files/vendor/boxicons/css/boxicons.min.css", rel: "stylesheet"}/
    %link{href: "assets_files/vendor/quill/quill.snow.css", rel: "stylesheet"}/
    %link{href: "assets_files/vendor/quill/quill.bubble.css", rel: "stylesheet"}/
    %link{href: "assets_files/vendor/remixicon/remixicon.css", rel: "stylesheet"}/
    %link{href: "assets_files/vendor/simple-datatables/style.css", rel: "stylesheet"}/
    / Template Main CSS File
    %link{href: "assets_files/css/style.css", rel: "stylesheet"}/
  %body
    %p.notice= notice
    %p.alert= alert
    = render 'layouts/dashboard'
    %script{src: "assets_files/vendor/apexcharts/apexcharts.min.js"}
    %script{src: "assets_files/vendor/bootstrap/js/bootstrap.bundle.min.js"}
    %script{src: "assets_files/vendor/chart.js/chart.umd.js"}
    %script{src: "assets_files/vendor/echarts/echarts.min.js"}
    %script{src: "assets_files/vendor/quill/quill.js"}
    %script{src: "assets_files/vendor/simple-datatables/simple-datatables.js"}
    %script{src: "assets_files/vendor/tinymce/tinymce.min.js"}
    %script{src: "assets_files/vendor/php-email-form/validate.js"}
    / Template Main JS File
    %script{src: "assets_files/js/main.js"}